*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
/*Fonts*/
@font-face {
    font-family: Circe;
    src: url(fonts/Circe-Bold.ttf);
}
.sprites{
    display: none;
}
.learn__more, .text__400, .block__two ul{
    font-weight: 400;
}
.heading__800{
    font-weight: 800; 
}
.heading__700{
    font-weight: 700;
}
.text__600{
    font-weight: 600;
}
.text__500{
    font-weight: 500;
}
.heading__900{
    font-weight: 900;
}
.heading__pink{
    color: #F85C78;
}
/*Fonts*/


/*Styles for block__one*/
.block__one{
    width: 100%;
    background: #1E337D;
    color: #fff;
    padding: 80px 120px 160px 120px;
    overflow: hidden;
    position: relative;
    z-index: 0;
}
.learn__more{
    max-width: 300px;
    width: 100%;
    height: 55px;
    border-radius: 51px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #F85C78;
    gap: 16px;
    border: none;
    cursor: pointer;
    transition-delay: 0.1s;
}
.learn__more, .learn__more::before{
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    line-height: 125%;
}
.learn__more::before{
    content: 'Подключиться';
    display: none;
}
.learn__arrow{
    width: 14px;
    height: 11px;
}
.block__one .heading__800{
    font-size: 64px;
    line-height: 130%;
    letter-spacing: 0.01em;
    text-transform: uppercase;
}
.block__one .heading__800{
    margin: 80px 0 16px 0;
}
.block__one .learn__more{
    margin: 56px 0 0 0;
}
.text__400{
    font-size: 32px;
    line-height: 130%;
    color: #FEFEFE;
}
.big__logotype{
    position: absolute;
    left: -10%;
    top: -10%;
    opacity: 0.08;
    z-index: -1;
}
/*Styles for block__one*/


/*Styles for block__two*/
.block__two{
    background: #FFFFFF;
    padding: 160px 24px 146px 120px;
    color: #0B163D;
    z-index: 0;
    position: relative;
    overflow: hidden;
    width: 100%;
    justify-content: center;
    display: flex;
    align-items: center;
    gap: 80px;
}
.block__two .heading__700, .block__four .heading__700, .block__five .heading__700, .block__seven .heading__700, .block__six .heading__700, .block__nine .heading__700, .block__eight .heading__700{
    font-size: 56px;
    line-height: 120%;
}
.block__two ul a{
    font-size: 20px;
    line-height: 140%;
}
.block__two ul{
    position: relative;
    left: -20px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin: 32px 0 48px 0;
}
.block__two .learn__more{
    max-width: 294px;
    width: 100%;
}
.two__photo img{
    width: 100%;
    max-width: 867px;
}
.block__two .two__container .two__photo{
    display: none;
    max-width: 496px;
    position: static;
    margin: 32px 0 16px 0;
}
.block__two ul li a{
    white-space: nowrap;
}
/*Styles for block__two*/


/*Styles for block__three*/
.block__three{
    position: relative;
    display: flex;
    justify-content: center;
    background: #1E337D;
    padding: 120px 24px;
    overflow: hidden;
    width: 100%;
}
.block__three .heading__700{
    font-size: 56px;
    line-height: 120%;
    color: #FAFAFD;
    margin: 0 0 80px 0;
}
.stats__container{
    display: flex;
    gap: 80px;
    flex-wrap: wrap;
}
.block__three .heading__900{
    font-size: 100px;
    line-height: 130%;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    color: #FFFFFF;
}
.block__three .text__400{
    font-size: 20px;
    line-height: 140%;
    color: #F6F7FC;
}
.stat__container{
    display: flex;
    flex-direction: column;
    gap: 16px;
}
/*Styles for block__three*/


/*Styles for block__four*/
.block__four{
    background: #FFFFFF;
    color: #0B163D;
    width: 100%;
    padding: 120px 0 0 0;
}
.block__four-one{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.block__four .heading__700-circe, .block__five .heading__700-circe, .block__seven .heading__700-circe{
    font-family: Circe;
    font-weight: 700;
    font-size: 32px;
    line-height: 140%;
}
.block__four-one .heading__700-circe{
    margin: 20px 0 16px 0;
}
.block__four .text__400{
    font-size: 20px;
    line-height: 140%;
    color: #687089;
}
.block__four-two, .block__four-three, .block__four-four{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    position: relative;
    overflow: hidden;
}
.block__four-two{
    gap: 160px;
    margin: 172px 0 0 0;
}
.block__four-two .block__image{
    position: relative;
    left: -10.5%;
}
.block__four-three .block__image{
    position: relative;
    left: 5%;
}
.block__four-three{
    gap: 240px;
    margin: 200px 0 0 0;
}
.block__four-four{
    gap: 160px;
    margin: 10px 0 0 0;
}
.block__four .block__image img{
    width: 100%;
}
.block__four-one img{
    max-width: 1144px;
}
.block__four-two img{
    max-width: 707px;
}
.block__four-three img{
    max-width: 800px;
}
.block__four-four img{
    max-width: 480px;
}
/*Styles for block__four*/


/*Styles for block__five*/
.block__five{
    color: #0B163D;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 200px 24px 120px 24px;
}
.block__five ul{
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin: 0 0 0 78px;
}
.block__five ul li{
    list-style: none;
}
    
.block__five ul li::before{
    display: flex;
    position: relative;
    bottom: -48px;
    right: 72px;
    content: "";
    width: 48px;
    height: 48px;
    background-image: url(/img/list-disk.svg);
}
.block__five .learn__more{
    max-width: 266px;
    width: 100%;
    margin: 64px 0 0 0;
}
.block__five .heading__700-circe{
    margin: 0 0 10px 0;
}
.block__five .text__400{
    font-size: 20px;
    line-height: 140%;
    color: #687089;
}
/*Styles for block__five*/


/*Styles for block__six*/
.block__six{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 64px;
    width: 100%;
    color: #0B163D;
    background: #F6F7FC;
    padding: 120px 24px;
    text-align: center;
}
.block__six img{
    cursor: pointer;
    width: 100%;
    max-width: 880px;
}

/*Styles for block__six*/


/*Styles for block__seven*/
.slick-track{
    display: flex;
    gap: 40px;
}
.slick-list{
    overflow: hidden;
    max-width: 1200px;
    display: flex;
    justify-content: center;
}
.block__seven{
    background: #1E337D;
    width: 100%;
    padding: 120px 0 78px 120px;
    min-width: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.block__seven .swiper-container{
    gap: 80px;
    display: flex;
    flex-direction: column;
    position: relative;
    min-width: 0;
}
.block__seven .heading__buttons{
    padding: 0 24px 0 0;
    display: flex;
    align-items: center;
}
.block__seven .heading__buttons .heading__700{
    color: #fff;
    flex: 1 1 auto;
}
.block__seven .swiper-slide .heading__700-circe a{
    line-height: 140%;
    color: #0B163D;
}
.block__seven .swiper-slide .text__400 a{
    line-height: 28px;
    color: #687089;
}
.block__seven .swiper-slide .text__600 a{
    line-height: 140%;
    color: #f85c79cc;
}
.block__seven .swiper-slide .text__600{
    margin: 12px 0 40px 0;
}
.block__seven .swiper-slide .text__500 a{
    line-height: 100%;
    color: #1E337D;
}
.block__seven .swiper-slide .text__500{
    display: flex;
    height: 32px;
    align-items: center;
}
.block__seven .swiper-slide{
    background: #fff;
    border-radius: 10px;
    padding: 32px;
    display: flex;
    flex-direction: column;
    height: auto;
    max-width: 357px;
    width: 100%;
    min-width: 200px;
}
.block__seven .swiper-wrapper a{
    font-size: 20px;
    text-decoration: none;
}
.block__seven .image__slide{
    margin: 0 0 32px 0;
}
.block__seven .image__slide img{
    width: 100%;
}
.slide__avatar .text__400{
    font-size: 18px;
    color: #FFFFFF;
}
.slide__avatar{
    width: 32px;
    height: 32px;
    background: #0B5DBE;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.slide__name{
    display: flex;
    align-items:flex-end;
    gap: 16px;
    flex: 1 0 auto;
}
.block__seven .swiper-button-prev, .block__seven .swiper-button-next{
    position: relative;
    width: 64px;
    height: 64px;
    margin: 0;
    left: 0;
    right: 0;
    fill: none;
}
.block__seven .swiper-button-next{
    margin: 0 0 0 16px;
}
/*Styles for block__seven*/



/*Styles for block__eight*/
.block__eight{
    color: #0B163D;
    background: #F6F7FC;
    width: 100%;
    position: relative;
    text-align: center;
    padding: 120px 32px;
}
.block__eight .slide{
    background: #FFFFFF;
    border: 1px solid rgba(11, 22, 61, 0.1);
    flex: 1 1 1200px;
    border-radius: 6px;
    max-width: 1350px;
    text-align: start;
}
.block__eight .slide__content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 40px 80px 40px 80px;
    gap: 40px;
}
.block__eight .slide__content .heading__700{
    font-size: 18px;
    line-height: 130%;
    color: #0B163D;
}
.block__eight .text__400{
    font-size: 16px;
    line-height: 150%;
    color: #687089d0;
}
.block__eight .slide__container{
    display: flex;
    flex-direction: column;
    flex: 0 1 539px;
    gap: 40px;
}
.block__eight .slider__container{
    display: flex;
    justify-content: center;
    margin: 45px auto 0 auto;
    gap: 40px;
}
.block__eight .slide__heading{
    background: #1E337D;
    padding: 40px 80px 40px 80px;
    border-radius: 6px 6px 0 0;
}
.block__eight .slide__heading a{
    color: #fff;
}
.block__eight .slide__heading .heading__700{
    font-size: 32px;
    line-height: 150%;
}
.block__eight .read__less, .block__eight .read__more{
    font-size: 18px;
    line-height: 150%;
    margin: 30px auto 0 0;
    width: 100%;
    cursor: pointer;
}

.block__eight .read__less a, .block__eight .read__more a{
    text-decoration: none;
    border-bottom: 1px dashed #0B163D;
    color: #0B163D;
}
.block__eight .read__more a{
    color: #fff;
    border-bottom: 1px dashed #fff;
}
.block__eight .read__more{
    display: none;
}
.block__eight .heading__text{
    display: flex;
    flex-direction: column;
    gap: 16px;
}
/*Styles for block__eight*/


/*Styles for block__nine*/
.block__nine{
    background: #1E337D;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 120px 24px 40px 24px;
}
.none__content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 720px;
}
.block__nine .container__input input{
    background: none;
    border: none;
    border-bottom: 1px solid #E0E5FF;
    max-width: 720px;
    height: 44px;
    color: #e0e5ffbe;
    outline: none;
}
.block__nine .heading__700{
    color: #fff;
    text-align: center;
    margin: 0 0 16px 0;
}
.block__nine .text__400 a{
    font-size: 16px;
    line-height: 150%;
    color: #f6f7fcd8;
    text-align: center;
}
.block__nine .container__input{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 720px;
    gap: 56px;
    margin: 80px 0 56px 0;
}
.block__nine .underline{
    color: #f6f7fcd8;
}
.block__nine .container__input input::placeholder{
    color: #e0e5ffbe;
    font-size: 20px;
    line-height: 140%;
    padding-bottom: 15px;
}
.block__nine .learn__more{
    max-width: 294px;
    width: 100%;
    margin: 0 auto 40px auto;
}
.block__nine .bottom__info{
    display: flex;
    font-size: 16px;
    line-height: 150%;
    color: #F6F7FC;
    width: 100%;
    white-space: nowrap;
    flex-wrap: wrap-reverse;
    justify-content: center;
    gap: 24px;
    margin: 120px 0 0 0;
}
.block__nine .number__email{
    flex: 1 1 auto;
    display: flex;
    gap: 8px 24px;
}
.block__nine .number__email a{
    text-decoration: none;
}
.block__nine .bottom__info .text__400{
    text-align: start;
    flex: 2 1 auto;
}
.block__nine .bottom__info .number__email .text__400{
    flex: 1 1 auto;
}
.block__nine .bottom__info .number__email .text__400:nth-child(2){
    text-align: end;
}
.nine__accept, .block__five .heading__700{
    text-align: center;
}
@media(max-width:649px){
    .block__nine .bottom__info .text__400{
        text-align: center !important;
        flex: 1 1 auto;
    }
    .block__nine .bottom__info .text__400:nth-child(3){
        order: 3;
    }
    .block__nine .bottom__info{
        margin: 40px 0 0 0;
    }
    .block__nine, .block__six, .block__five, .block__three, .block__eight{
        padding: 32px 24px;
    }
    .block__two{
        padding: 32px 0;
    }
    .block__two .heading__700, .block__two ul{
        margin: 0 24px;
    }
    .block__six{
        gap: 40px;
    }
    .block__five ul li::before{
        background-image: url(/img/list-disk-mini.svg);
        width: 24px;
        height: 24px;
        right: 40px;
        bottom: -32px;
    }
    .block__five ul{
        margin: 0;
        gap: 2px;
    }
    .block__one{
        padding: 24px 24px 44px 24px;
    }
    .block__two .learn__more{
        display: none;
    }
}
@media(max-width:375px){
    .block__nine .number__email{
        flex-direction: column;
    }
    }
@media(max-width:1059px){
    .block__seven{
        padding: 120px 0 78px 24px;
    }
}
@media(max-width:500px){
    .block__nine .heading__700, .block__six .heading__700, .block__five .heading__700, .block__three .heading__700, .block__two .heading__700, .block__eight .heading__700, .block__seven .heading__700{
        font-size: 28px;
    }
    .block__nine .text__400{
        font-size: 14px;
        line-height: 140%;
    }
    .block__eight .swiper-wrapper .heading__700{
        font-size: 26px;
        line-height: 140%;
    }
    .block__nine .container__input input::placeholder, .block__eight .slide__content .heading__700, .block__seven .swiper-wrapper a{
        font-size: 16px;
        line-height: 140%;
    }
    .block__nine .learn__more, .block__five .text__400, .block__one .learn__more, .block__two ul li a, .block__seven .text__500 a{
        font-size: 18px;
    }
    .block__five .heading__700-circe, .block__seven .heading__700-circe a{
        font-size: 24px;
        line-height: 140%;
    }
    .block__three .heading__900{
        font-size: 50px;
        line-height: 130%;
    }
    .block__three .stats__container{
        gap: 40px;
    }
    .block__three .heading__700{
        margin: 0 0 40px 0;
    }
    .block__one .heading__800{
        font-size: 32px;
        line-height: 130%;
        margin: 56px 0 16px 0;
    }
    .block__one .text__400{
        font-size: 24px;
        line-height: 130%;
    }
    .block__one .learn__more{
        max-width: 228px;
    }
    .learn__more::before{
        display: block;
    }
    .learn__more{
        display: none;
    }
    .learn__more{
        gap: 8px;
    }
    .block__seven .heading__700{
        text-align: center;
    }
    .block__seven .swiper-slide{
        padding: 24px;
    }
    .block__seven .image__slide{
        margin: -24px -24px 32px -24px;
    }
    .block__seven .image__slide img{
        border-radius: 10px 10px 0 0;
    }
    .block__seven{
        padding: 32px 24px 32px 24px;
    }
    .block__seven .text__400{
        line-height: 11px;
    }
    .block__seven .swiper-container{
        gap: 32px;
    }
}
@media(max-width:600px){
    .block__nine .complete__form{
        display: none;
    }
    .big__logotype{
        transform: scale(0.8);
        left: -35%;
        top: -21%;
    }
}
@media(max-width:1140px){
    .block__two .two__photo{
        display: none;
    }
    .block__two .two__container .two__photo{
        display: block;
    }
    .block__eight .slide__heading, .block__eight .slide__content{
        padding: 24px;
    }
    .block__seven .swiper-button-prev, .block__seven .swiper-button-next{
        display: none;
    }
}
@media(max-width:1435px){
    .block__two ul li a{
        white-space: unset;
    }
}
@media(max-width:1343px){
    .block__eight .slide{
        max-width: 800px;
    }
}
/*Styles for block__nine*/

/*Styles for hover button*/
.learn__more:hover{
    background: #E0425F;
}
.header__button:hover{
    border: 1.5px solid rgb(255, 255, 255);
}

/*Styles for hover button*/
.header__menu{
    height: 56px;
    width: 100%;
    background-color: #F85C78;
    align-items: center;
    padding: 0 24px;
    position: fixed;
    display: flex;
    top: -56px;
    left: 0;
    z-index: 3;
    justify-content: space-between;
    transition: all 0.8s ease-out;
}
.header__button{
    width: 100%;
    max-width: 149px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1.5px solid rgba(246, 247, 252, 0.8);
    border-radius: 18px;
    height: 36px;
    background: none;
    transition: all 0.1s ease-out;
    cursor: pointer;
}
.header__menu .text__500{
    font-size: 14px;
    line-height: 140%;
    color: #FFFFFF;
}
._active{
    top: 0;
}
._true{
    display: block !important;
}
._false{
    display: none !important;
}
